<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fotos da NASA</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style media="screen">
      #app, .erro {
        display: flex;
        justify-content: center;
        flex-flow: column;
        flex-wrap: wrap;
        align-items: center;
      }

      h1 {
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
      }

      #logo {
        width: 4.1em;
      }

      .erro > .img {
        z-index: -1;
        width: 100%;
        height: 65%;
        top: 35%;
        left: 0;
        position: absolute;
        background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/HAL9000.svg/1200px-HAL9000.svg.png') center / contain;
        background-repeat: no-repeat;
        background-size: 15%;
      }

      .demo-card-image.mdl-card {
        width: 256px;
        height: 256px;
      }

      .demo-card-image > .mdl-card__actions {
        height: 52px;
        padding: 16px;
        background: rgba(0, 0, 0, 0.2);
      }

      .demo-card-image__filename {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
      }

      .results {
        display: flex;
        justify-content: center;
        flex-flow: row;
        flex-wrap: wrap;
      }

      .results > div {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        margin: 5px;
      }

      .is_active:after {
        content: "";
      }

      .modal-mask {
        z-index: 90;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: table;
        background-color: rgba(0, 0, 0, .8);
        transition: opacity .3s ease;
      }

      .modal-mask-cancel {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .modal-wrapper {
        z-index: 100;
        display: table-cell;
        vertical-align: middle;
      }

      .modal-wrapper > .demo-card-square {
        max-width: 70%;
        max-height: 70%;
      }

      .demo-card-square > .mdl-card__title {
        color: #fff;
      }

      .demo-card-square {
        margin: 0px auto;
      }

      .tags {
        margin-bottom: 7px;
      }

      .tags > .mdl-chip {
        display: inline-block;
        margin-right: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>Fotos da<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/200px-NASA_logo.svg.png" alt="NASA" id="logo"></h1>
      <form @submit.prevent="pegaFotos(campo)">
        <div class="mdl-textfield mdl-js-textfield">
          <input type="text" v-model="campo" id="campo" class="mdl-textfield__input">
          <label for="campo" class="mdl-textfield__label">{{ pesquisar }}</label>
        </div>
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" @click="pegaFotos(campo)">Procurar</button>
      </form>
      <!-- Ícone de carregamento -->
      <div class="mdl-spinner mdl-js-spinner" :class="{ 'is-active': load }"></div>
      <!-- Modal / Cartão -->
      <div class="modal-mask" v-if="modal">
        <div class="modal-mask-cancel" @click="fechaModal()"></div>
        <div class="modal-wrapper">
          <div class="demo-card-square mdl-card mdl-shadow--2dp" :style="{'width': largura}">
            <div class="mdl-card__title mdl-card--expand" :style="{'height': altura, 'background': 'url('+imagem+') center / cover'}">
              <h2 class="mdl-card__title-text">{{ titulo }}</h2>
            </div>
            <div class="mdl-card__supporting-text">
              <div class="tags">
                <button type="button" class="mdl-chip" v-for="tag in tags" @click="clicaTag(tag)">
                  <span class="mdl-chip__text">{{ tag }}</span>
                </button>
              </div>
              {{ descricao }}</div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" @click="fechaModal()">Fechar</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Resultados -->
      <div class="results" v-if="results">
        <div v-for="r in results" :style="{'background-image': 'url('+r.links[0].href+')'}" class="demo-card-image mdl-card mdl-shadow--2dp" @click="abreModal(r)">
          <div class="mdl-card__title mdl-card--expand"></div>
          <div class="mdl-card__actions">
            <span class="demo-card-image__filename">{{ r.data[0].title }}</span>
          </div>
        </div>
      </div>
      <!-- Erro -->
      <div v-if="erro" class="erro">
        <h3>Desculpa, Dave. Não posso fazer isso...</h3>
        <div class="img"></div>
      </div>
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          pesquisar: 'Digite algo relativo a imagem',
          campo: '',
          load: false,
          results: '',
          modal: false,
          titulo: '',
          descricao: '',
          imagem: '',
          largura: '',
          altura: '',
          tags: '',
          erro: false
        },
        created: function () {
          this.pegaFotos(campo = "sun");
        },
        methods: {
          pegaFotos: function (q) {
            this.load = true;
            var app = this;
            q = encodeURIComponent(q);
            axios.get("https://images-api.nasa.gov/search?q="+q+"&media_type=image")
            .then(r => {
              app.results = r.data.collection.items;
              app.load = false;
              app.results.length == 0 ? app.erro = true : app.erro = false;
            }).catch(e => {
              console.log(e)
            });
          },
          abreModal: function (b) {
            this.modal = true;
            this.imagem = b.links[0].href;
            this.titulo = b.data[0].title;
            this.descricao = b.data[0].description_508;
            this.tags = b.data[0].keywords;
            console.log(b.data[0]);
            var img = new Image();
            img.src = this.imagem;
            this.largura = img.width+"px";
            this.altura = img.height+"px";
          },
          fechaModal: function () {
            this.modal = false;
            this.titulo = '';
            this.descricao = '';
            this.imagem = '';
            this.largura = '';
            this.altura = '';
            this.tags = '';
          },
          clicaTag: function (t) {
            this.fechaModal();
            this.pesquisar = '';
            this.campo = t;
            this.pegaFotos(t);
          }
        }
      });
    </script>
  </body>
</html>
